# Temporary files
.DS_Store
force_quit

# Results
results/*
compiled_results/*

# Private files
.vscode/*
.password

# Private dirs
moos-dirs/*
job_dirs/*

# Scratchpads
scripts/attic/*
attic/*
__*
*/__*
