# Temporary files
*_job_queue.txt
*.tmp
.built_dirs
.DS_Store
.extracted_files
.built_directories.txt
bad_jobs.txt
nohup.out
# Temporary dirs
results/*
compiled_results/*
force_quit
.deleted_*
.deleted_*
*.tmp

# Private files
.password
myname.txt
repo_links.txt
status.txt
.temp*
myname.txt
*.enc
.vscode/*
# Private dirs
moos-dirs/*
job_dirs/*


# Scratchpads
scripts/attic/*
__*
*/__*

# Documentation
!docs/*

